#intro {
    font-size: large;
}

#quote {
    text-align: center;
    font-size: 1.5em;
}

#author {
    text-align: right;
    font-style: italic;
}

/* .bg_color {
    background-color: #ffffff !important;
} */