.navbar {
    /* background-color: #fb0066 !important; */

}

.nav-link {
    /* color: #3d405b !important; */
    color: #fff !important;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #A28e6e !important;
}

.navbar-toggler:hover {
    background-color: #A28e6e !important;
}

.nav-link:hover {
    color: #242636 !important;
}

.navbar-expand-lg {
    /* background-color: rgba(247, 247, 247, 0.1); */
    background-color: #a28e6e79 !important;
}

/* .border_bottom {
    border-bottom: 1px solid #f2f2f2;
} */

#prflbtn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.dropdown-menu {
    background-color: #fff !important;
}

@media screen and (max-width: 600px) {
    img {
        margin: auto;
    }
}