.navbar {
    /* background-color: #fb0066 !important; */

}

.nav-link {
    color: #3d405b !important;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #A28e6e !important;
}

.navbar-toggler:hover {
    background-color: #A28e6e !important;
}

.nav-link:hover {
    color: #242636 !important;
}

.navbar-expand-lg {
    /* background-color: rgba(247, 247, 247, 0.1); */
    /* background-color: #313638 !important; */
}

.border_bottom {
    border-bottom: 1px solid #f2f2f2;
}