/* STYLE NOTES
BUTTON COLOR:  
HOVER COLOR: #8b7a5d
BACKGROUND COLOR: #FFFFFF
FONT COLOR:
FONT FAMILY: 
Path: styles\style.css */
/* font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

.material-icons {
    cursor: pointer;
}

.bg-info {
    background-color: white !important;
}

.navbar-light .navbar-brand {
    color: #D4FCFC;
}


.btn-primary {
    color: #F5F5F5;
    font-size: 150%;
    background-color: #a28e6e;
    border-color: #a28e6e;
    border-width: thick
}

.btn-primary:hover {
    color: #D4FCFC;
    font-size: 150%;
    background-color: #a28e6e !important;
    border-color: #a28e6e;
    border-width: thick
}

.btn-secondary {
    color: #F5F5F5;
    font-size: 75%;
    background-color: #a28e6e;
    border-color: #a28e6e;
    /* border-width: thick */
}

.btn-secondary:hover {
    color: #F5F5F5;
    font-size: 75%;
    background-color: #a28e6e;
    border-color: #a28e6e;
    /* border-width: thick */
}

/* body {
    background: url(./images/purplesky.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* body {
    background-color: #ffffff;
} */

.btn-secondary {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* font-weight: heavy; */
    font-size: 1rem;
}

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #3d405b;

}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #3d405b;
    /* font-weight: bold; */
}

.buttonCustom {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #F5F5F5;
    font-size: 75%;
    background-color: #a28e6e;
    border-color: #a28e6e;
    /* font-weight: bold; */
}

/* a{
    color: #6c3926;
}
a:hover{
    color: #4d281a;
} */
.buttonCustom:hover {
    color: #ffffff !important;
    background-color: #8b7a5d !important;
    border-color: #8b7a5d;
}